.dashboard{
    overflow-y: auto;
    .bar{
        height: 4rem;
        padding: 0 1rem;
        @include flex(row, unset);
        border-bottom: 1px solid rgba(0, 0, 0, .37);
        >input{
            margin-right: auto;
            @include inputStyle(100%,1rem 0)
        }
        >svg{
            font-size: 1.2rem;
            opacity: .7;
        }
        >img{
            @include square(2rem);
            border-radius: 50%;
        }
    }
    .widget-container{
        @include flex(row, space-between, stretch, 2rem);
        padding: 2rem 2rem 2rem 0;

        .widget{
            @include flex(row, space-between, stretch, 0);
            width: 16rem;
            padding: 2rem;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 0 10 rgba(0, 0, 0, .132);
            .widget-info{
                >p{
                    opacity: .7;
                    font-size: .8rem;
                }
                >h2{
                    font-size: 1.5rem;
                }
                >span{
                    @include flex(row, unset, center, .2rem)
                }
            }
            .widget-circle{
                position: relative;
                @include square(5rem);
                border-radius: 50%;
                display: grid;
                place-items: center;
                background-color: aquamarine;
                &::before{
                    content: "";
                    @include square(4rem);
                    position: absolute;
                    background-color: white;
                    border-radius: 100%;
                }
                >span{
                    position: absolute;
                }
            }
        }
    }
    .graph-container{
        @include flex(row, unset, unset, 2rem);
        padding: 0 2rem 2rem 0;
        >div{
            background-color: white;
            border-radius: 10px;
        }
        .revenue-chart{
            width: 100%;
            padding: 1rem 3rem;
            >h2{
                @include heading;
                margin: 1rem, 0, 2rem, 0.25rem;
                text-align: center;
            }
        }
        .dahsboard-categories{
            width: 100%;
            max-width: 16rem;
            @include flex(column, center, unset, 0);
            padding-bottom: 2rem;
            >h2{
                @include heading;
                margin: 1.5rem 0 2rem 0;
                text-align: center;
            }
            >div{
                overflow-y: auto;
                padding-left: .5rem;
            }
            .category-item{
                width: 100%;
                @include flex(row, space-between);
                padding: 1rem;
                >h5{
                    letter-spacing: 1px;
                    font-weight: 300;
                }
                >div{
                    margin-left: auto;
                    background-color: rgb(217, 217, 217);
                    height: .5rem;
                    width: 6rem;
                    border-radius: 20px;
                    flex: none;
                    >div{
                        border-radius: 20px;
                        height: 100%;
                    }
                }
                >span{
                    font-weight: 700;
                    font-size: .8rem;
                }
            }
        }
    }
}